<?xml version="1.0"?>

<robot name="SICK_lidar" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="SICK_lidar"
    params="
      name
      *origin">
    <link name="${name}">
        <inertial>
            <origin xyz="0 0 0.15" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
        <origin xyz="0 0 0.15" rpy="0 0 0"/>
        <geometry>
            <mesh filename="package://steer_bot_description/meshes/sick_tim_5xx.stl"/>
        </geometry>
        <!--<material name="red"/>-->
        </visual>
        <collision>
            <origin xyz="0 0 0.15" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://steer_bot_description/meshes/sick_tim_5xx.stl"/>
            </geometry>
        </collision>
    </link>
    <joint name="${name}_joint" type="revolute">
      <parent link="base_link"/>
      <child link="${name}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit effort="1"
             lower="0" upper="0"
             velocity="1"/>
    </joint>
    <gazebo reference="${name}">
        <material>Gazebo/RedGlow</material>
        <sensor name="laser" type="ray">
            <parent link="${name}"/>
            <!--<origin xyz="0 0 0.15" rpy="0 0 0"/>-->
            <pose> 0 0 0.15 0 0 0 </pose>
            <axis>
                <xyz>0 0 1</xyz>
                <use_parent_model_frame>true</use_parent_model_frame>
            </axis>
            <visualize>true</visualize>
            <update_rate>15</update_rate>
            <ray> 
            <scan>
                <horizontal>
                    <samples>818</samples>
                    <min_angle>-2.3562</min_angle>
                    <max_angle>2.3562</max_angle>
                </horizontal>
            </scan>
            <range>
                <min>0.1</min>
                <max>25</max>
            </range>       
            </ray>
            <!--laser_controller libgazebo_ros_ray_sensor.so!-->
            <plugin name="ros_ray_sensor_controller" filename="libgazebo_ros_laser.so">
                <output_type>sensor_msgs/LaserScan</output_type>
                <frameName>lidar</frameName>
                <topicName>/scan</topicName>
            </plugin>
        </sensor>
    </gazebo>
    </xacro:macro>
</robot>